/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE BACKGROUND WITH OLD THEME */
body {
  background: #1998ec;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

/* LOGO */
.logo-container {
  margin-top: 20px;
  margin-bottom: 15px;
  animation: bounce 2s infinite;
}

.logo {
  width: 260px;
  height: auto;
}

/* Logo animation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

/* LOGIN CARD */
.contain {
  width: 100%;
  max-width: 380px;
  background: #ffffff;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.login-title {
  font-size: 26px;
  color: #1998ec;
  font-weight: bold;
  margin-bottom: 20px;
}

/* INPUT BOXES */
.input-group input {
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  outline: none;
  font-size: 16px;
  padding: 5px 5px;
  transition: 0.2s;
}

.input-group input:focus {
  border-bottom: 2px solid #1998ec;
}

/* BUTTONS */
button {
  width: 100%;
  height: 45px;
  border-radius: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.login-btn {
  background: #1998ec;
  color: #fff;
}

.demo-btn {
  background: #1070c9;
  color: white;
}

/* RECAPTCHA */
.recaptcha-info {
  margin-top: 15px;
  font-size: 12px;
  color: #444;
}

.recaptcha-info a {
  color: #0066cc;
}

/* EMAIL */
.email-text {
  margin-top: 15px;
  font-size: 12px;
  color: #0066cc;
}

/* WHATSAPP JOIN BUTTON */
.whatsapp-join {
  font-size: 12px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 45px;
  background: #ffffff;
  color: #000;
  border: 2px dashed #1998ec;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
}

.wa-logo {
  width: 28px;
  height: 28px;
}

/* RESPONSIVE */
@media (max-width: 450px) {
  .logo {
    width: 240px;
  }
}

@media (max-width: 380px) {
  .logo {
    width: 220px;
  }
}

/* FLOATING WHATSAPP SUPPORT BUTTON */
.wa-support {
  position: fixed;
  bottom: 20px; /* Distance from bottom */
  right: 20px; /* Distance from right */
  width: 60px; /* Size of circle */
  height: 60px;
  background: #25d366; /* WhatsApp color */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 999;
  animation: pop 0.4s ease-out;
}

.wa-support img {
  width: 35px;
  height: 35px;
}

/* Pop animation */
@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Hover effect */
.wa-support:hover {
  transform: scale(1.12);
}
